/* фоновые картинки хедера для главной */

@media (max-width: @breakpoint-phone) {
  .page-header {
    background: url('../img/iphone-5-in-hand-png.png') no-repeat center 255px;

  }
  .page-form .page-header__wrapper{
    background-image: url('../img/bg-back-mobile@1x.jpg');
    background-repeat: no-repeat;
  }

  .page-photo .page-header__wrapper{
    background-image: url('../img/bg-back-mobile@1x.jpg');
    background-repeat: no-repeat;
  }
}



/* фоновая картинка с улыбающимся смартфоном в блоке features на главной
@media (max-width: @breakpoint-phone) {
  .features {
    background-image: url('../../img/iphone-screen-mobile@1x.png');
    background-repeat: no-repeat;
    background-size: 160px auto;
    background-position: center bottom -45px;
  }
}
@media (min-width: 480px) {
  .features {
    background-image: url('../../img/iphone-screen-mobile@1x.png');
    background-repeat: no-repeat;
    background-size: 260px auto;
    background-position: center top-6px;
  }

}*/

@media @tablet-widths {
  .page-header{
    background: url('../img/bg-iphone-6-hand.jpg') no-repeat center 255px;
    background-repeat: no-repeat;
    background-position: top;
  }
  .page-photo .page-header{
    background-image: url('../img/bg-back-tablet@1x.jpg');
    background-repeat: no-repeat;
  }
  .page-form .page-header{
    background-image: url('../img/bg-back-tablet@1x.jpg');
    background-repeat: no-repeat;
  }
}


@media @desktop-widths {
  .page-header{
    background: url('../img/desktop-hand-bg.jpg') no-repeat center 255px;
    background-repeat: no-repeat;
    background-position: right 0px;

  }
  .page-photo .page-header{
    background-image: url('../img/bg-back-desktop@1x.jpg');
    background-repeat: no-repeat;
  }
  .page-form .page-header{
    background-image: url('../img/bg-back-desktop@1x.jpg');
    background-repeat: no-repeat;
  }
  .features {
    background-image: none;
  }

}
