.downloads {
  margin-top: 370px;
  background-color: @darkblue--header;


  /* кнопка "скачать приложение"" */
  .downloads__btn {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 13px 35px;
    max-width: 210px;
    text-decoration: none;
    font: @weight-bold @font-size--medium @font;
    color: @white;
    border: 3px solid @white;
    border-radius: 37px;

    .downloads__btn:hover {
      opacity: 0.5;
    }
  }

  /* контейнер с картинками платформ */
  .downloads__items {
    margin-right: -36px;
    margin-bottom: 22px;
  }

  /* стили отдельных картинок платформ */
  .downloads__item {
    display: inline-block;
    vertical-align: bottom;
    margin-right: 36px;
  }

  /* текст под кнопкой "скачать приложение" */
  .downloads__information {
    margin: 0;
    padding: 0 20px;
    padding-bottom: 30px;
    font: @weight-light @font-size--small @font;
  }
}

@media @tablet-widths {
  .downloads {
    padding: 0;
    margin: 0;


  .downloads__wrapper{
    background: transparent;
    float: left;
    width: 300px;
    padding: 0;
    margin: 0;
    margin-left: 30px;
  }
  }
}

@media @desktop-widths {
  .downloads{
  background: transparent;
  padding: 50px;
  padding-bottom: 0;

    .downloads__wrapper {
      margin-left: 80px;
    }
    .downloads__items {
      margin-top: 20px;
    }
    .downloads__information {
      padding-top: 30px;
    }
  }
}
