.features {
  position: relative;
  padding: 55px 0 286px 0;
  background-color: @gray;
}
.feature-item {

  &__title {
    margin: 0;
    margin-bottom: 10px;
    font: @weight-bold @font-size--medium @font;
    letter-spacing: 1px;
  }

  &__desc {
    margin: 0;
    margin-bottom: 34px;
    font: @weight-normal @font-size--small @font;
    letter-spacing: 0.5px;
    color: @darkblue;
  }

}

