.features {

  .feature-item img {
    display: none;
  }
  position: relative;
  padding: 55px 0 286px 0;
  padding-top: 0;

  background-image: url('../img/iphone-smile.png');
  background-repeat: no-repeat;
  background-size: 160px auto;
  background-position: center bottom -45px;

  .features__wrapper {
    padding-top: 100px;
    padding-bottom: 40px;
    background-repeat: no-repeat;
    background-position: bottom 200px;

  }

  @media @tablet-widths {

    width: 700px;
    text-align: left;
    margin:  0 auto;
    padding: 55px 0 26px 0;
    background-size: 260px auto;
    background-position: left top;


    .features__wrapper {
      padding-top: 60px;
      background: transparent;
      background-repeat: no-repeat;
      background-size: 100%;

    }

    .feature-item img {
      display: none;
    }
  }

  @media @desktop-widths {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
    background-image: url('../img/bg-gray.png');

    .features__wrapper {
      width: 1200px;
      background-image: url('../img/bg-gray.png');
      background-repeat: no-repeat;
      background-size: 100%;

    }
    .feature-item__title {
      text-align: center;
      color: @black;
      font: @weight-bold 30px @font;
      width: 250px;
      margin: 0 auto;
    }

    .feature-item__desc {
      text-align: center;
      width: 200px;
    }

    .feature-item img {
      display: block;
      margin-left: 20px;
    }
  }
}
.features--bg {
  background-image: url('../img/bg-gray.png');
  background-repeat: no-repeat;
  background-size: 100%;
}
@media @tablet-widths {
  .features--bg {
    background-image: url('../img/bg-gray.png');
    background-repeat: no-repeat;
    background-size: 100%;
  }
}
