.information {
  .container();
  background: @white;
  .information__wrapper {
    padding-top: 20px;
  }

.information__text{
  color: @darkblue;
  font: @weight-light @font-size--big @font;
  text-align: center;
}


@media @tablet-widths {

    .information__wrapper {
      margin: 0;
      margin-bottom: 60px;
      margin-top: 60px;
      text-align: center;
    }
    .information__text {
      font: @weight-light 40px @font;
      margin:0;
      padding:0;
    }
  }

  @media @desktop-widths {
    .information__wrapper {

      margin-bottom: 75px;


    }
    .information__text {
      font: @weight-light 50px @font;
      margin:0;
      padding:0;
    }
  }
}
