.information {
  .container();
  background: @white;
&__text{
  color: @darkblue;
  font: @weight-light @font-size--medium @font;
  text-align: center;
}

}
@media @desktop-widths {
  .information__wrapper {
    margin: 0;
    text-align: center;
    padding-bottom: 50px;
  }
  .information__text {
    font: @weight-light 50px @font;
    margin: 0;
    padding: 0;
  }
}
