/* логотип в хедере */
.logo {
  float: left;
  text-transform: uppercase;
  font: @weight-light 32px/36px @font;
  letter-spacing: 1.4px;

  &__link {
    color: @white;
    text-decoration: @text-decoration;
    padding-right: 2%;
  }
}
