.main-nav {
  width: 320px;
  margin: 0 auto;
  position: relative;
  background: @darkblue;
  font: @weight-bold @font-size--medium @font;
  text-align: center;
  margin-top: 10%;

}
.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav__item {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid black;
}
.main-nav__item:first-child {
  border-top: 2px solid black;
}
.main-nav__link {
  color: @white;
  text-decoration: none;
}

@media @tablet-widths {
  .main-nav {
    display: none;
  }
}

@media @desktop-widths{

  .main-nav {
    width: 720px;
    margin: 0;
    margin-left: 120px;
    padding: 0;
    background: transparent;
    display: inline-flex;


    .main-nav__item {
      display: inline-flex;
      border-bottom: none;
      margin-right: 80px;
      font: @weight-normal @font-size--medium @font;
    }
    .main-nav:last-child {
      margin-right: 0;
    }
  }

  .main-nav__wrapper {
    .container();
    .clearfix();
  }

}

.page-form .main-nav {
  display: none;
}
