.menu-toggle {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: -3px;
  padding: 0;
  float: right;
  width: 50px;
  height: 4px;
  border: none;
  outline: none;
  border-radius: 0;
  font-size: 0;
  cursor: pointer;

  &:hover {
    opacity: 0.4;
  }

  &--active {
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -2px;
    font-size: 0;
    border: none;
    outline: none;
    background-image: url('../../img/icon-menu-cross.svg');
  }
}

