.news {
  display: none;

  @media @tablet-widths {

    display: block;
    padding-top: 60px;
    .news__bg-right{
      float: right;
      width:300px;
    }
    .news__bg-left{
      float: left;
      background-image: url('../img/24.png');
      background-position: center;
      background-repeat: no-repeat;
      width:300px;
      height: 276px;
    }
    .news__title {
      font-size: 30px;
      text-align: left;
    }

    .news__desc {
      font: @weight-normal @font-size--small @font;
      color: @darkblue;
      text-align: left;
      display: flex;
      line-height: @line-height;
    }

    .news__link {
      font: @weight-normal @font-size--small @font;
      color: @fuchsia;
      display: flex;

    }
  }
  @media @desktop-widths {
    padding-top: 0;
    .news__wrapper{
      background: @gray;
      padding-top: 40px;
      padding-bottom: 50px;
    }
    .news__desc {
      width: 420px;


    }
    .news__link {
      display: flex;
    }
    .news__bg-left {
      width: 40%;
    }
    .news__bg-right {
      width:60%;

    }
  }
}
