.page-header {
  color: @white;
  background-color: @darkblue--header;

  &__top-menu { /* верхняя полоска хедера с лого и кнопкой */
    position: relative; /* потому что кнопка переключения - абс.поз. */
    padding: 17px 0 12px 0;
    background-color: rgba(0, 0, 0, 0.3);
  }

  &__content {
    padding: 24px 0;
    height: 344px;
  }

  &__title {
    font: @weight-light @font-size--big @font;
    padding-top: 30px;
    padding-bottom: 50px;
 }
}

