.page-header {

text-align: center;
  .page-header__wrapper {
    margin: 0 auto;

  }

  .container();
  .clearfix();
  color: @white;
  background-color: @darkblue--header;

  &__top-menu {
    position: relative; /* потому что кнопка переключения - абс.поз. */
    padding: 17px 0 12px 0;
    background-color: @darkblue;

  }
.page-header--bg-for-nav {
  padding-bottom: 20px;
}

  &__title {
    font: @weight-light @font-size--big @font;
    padding-bottom: 50px;
    margin-top: 50px;


  }
  &__title-index {
    margin-top: 0;
  }

.pink-form-mobile .page-header__title-wrapper {
  background: @darkblue;
}
  .pink-form-mobile .page-header__title {
   padding-top: 20px;
  }

  @media @tablet-widths {
  width: 640px;
  margin: 0 auto;

    .page-header__title {
      padding: 0;
      margin: 0;
      padding-top: 50px;
    }

    .page-header__top-menu {
      padding: 0;
      background-color: @black;
      opacity: 0.4;
      padding: 20px;
    }

    .page-header--bg-for-nav {
      padding-bottom: 0px;
    }
    .tablet-desk-content-left {
      float: right;
      width: 300px;

    }
  }

  @media @desktop-widths {

    .page-header {
      position: relative;
    }
    width: 960px;
    margin: 0 auto;
    .page-header__wrapper{
     margin: 0 auto;
    }
    .page-header__title {
      font-size: 50px;
    }
  }

}

