.price {
  padding-top: 90px;
  padding-bottom: 83px;
  text-transform: uppercase;
  margin-top: -60px;
  overflow: hidden;
  overflow: hidden;
  /* background: @gray url("../../img/bg-gray-table.png") center top no-repeat; */


  @media @desktop-widths {
    padding-top: 114px;
  }

}

.price-table {
  .container();
  position: relative;

  width:  845px;
  margin: 48px auto 34px;
  border-collapse: collapse;

  left: 50%;
  transform: translateX(-50%);

  @media @tablet-widths {
    position: static;
    margin: 36px auto 26px;
    width: 700px;
    transform: none;
  }

  @media @desktop-widths {
    width: 1200px;
  }

  .price-table__header {
    position: relative;
    width: 25%;
    padding-top: 11px;
    padding-bottom: 11px;
    background-color: @gray;
    color: @white;
    border: 2px solid #e5e5e5;
    background: @darkblue;

    @media  @tablet-widths {
      padding-top: 8px;
      padding-bottom: 8px;
    }

    @media  @desktop-widths {
      padding-top: 11px;
      padding-bottom: 11px;
    }
  }

  .price-table__title {
    font: @weight-bold @font-size--medium @font;
    line-height: @line-height;


    @media @tablet-widths {
      font: @weight-bold 16px @font;
    }
    @media @desktop-widths {
      font: @weight-bold @font-size--medium @font;
    }
  }

  .price-table__cost {
    font: @weight-light @font-size--big @font;
    line-height: @line-height;

    @media @tablet-widths {
      font: @weight-light @font-size--medium @font;
      line-height: 0.8;
    }

    @media @desktop-widths {
      font: @weight-light @font-size--big @font;
      line-height: 1;
    }
  }

  .price-table__flag {
    position: absolute;
    top: -2px;
    left: -2px;
    z-index: 10;
    width: 72px;
    height: 72px;
    text-indent: -1000px;
    overflow: hidden;
  }

  .price-table__flag--hit {
    background: url('../../img/bg-hit.svg') no-repeat 0 0;
  }
}

.price-table__service {
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 25px;
  font: @weight-normal @font-size--small @font;
  color: @darkblue;
  text-align: left;
  background-color: @white;
  background-repeat: no-repeat;
  background-position: 89% 50%;
  border: 2px solid #e5e5e5;

  @media @tablet-widths {
    background-position: 50% 50%;
    padding-top: 11px;
    padding-left: 15px;
    padding-bottom: 11px;
  }

  @media @desktop-widths {
    color: @darkblue;
    background-position: 50% 50%;
    padding-top: 15px;
    padding-left: 19px;
    padding-bottom: 15px;
  }

  &--yes {
    background-image: url('../img/yes.png');
  }

  &--no {
    background-image: url('../img/no.png');
  }
}


.price-table__header--empty {
  display: none;

  @media @tablet-widths {
    display: block;
    opacity: 0;
    border: none;
  }
}

.price-table__service--tablet {
  display: none;
  background: none;
  color: @darkblue;


  @media @tablet-widths {
    display: table-cell;
    background-color: @white;
    color: @darkblue;
    text-transform: none;
  }

  @media  @desktop-widths {
    font: @weight-normal @font-size--medium @font;
  }
}

.service-mobile {

  @media @tablet-widths {
    display: none;
  }
}
